ch1/.vs/
ch1/packages/
ch1/VisualStudioWebApplication/bin/
ch1/VisualStudioWebApplication/obj/
ch1/VisualStudioWebApplication/Properties/PublishProfiles/
*.user
ch2/MyFirstWebJob/MyFirstWebJob/bin/
ch2/MyFirstWebJob/MyFirstWebJob/obj/
ch2/MyFirstWebJobFromVisualStudio/.vs/
ch2/MyFirstWebJobFromVisualStudio/MyFirstWebJobFromVisualStudio/bin/
ch2/MyFirstWebJobFromVisualStudio/MyFirstWebJobFromVisualStudio/obj/
ch2/MyFirstWebJobFromVisualStudio/packages/
ch2/MyFirstWebJobWebJobsSDK/.vs/
ch2/MyFirstWebJobFromVisualStudio/MyFirstWebJobFromVisualStudio/Properties/PublishProfiles/
ch2/MyFirstWebJobWebJobsSDK/MyFirstWebJobWebJobsSDK/bin/
ch2/MyFirstWebJobWebJobsSDK/MyFirstWebJobWebJobsSDK/obj/
ch2/MyFirstWebJobWebJobsSDK/MyFirstWebJobWebJobsSDK/Properties/
ch2/MyFirstWebJobWebJobsSDK/packages/
ch2/MyFirstWebJob/.vs/
ch3/AciStart/app/node_modules/
ch4/ReliableActors/ReliableActors/packages/
ch4/ReliableActors/ReliableActors/.vs/
ch4/ReliableActors/ReliableActors/ReliableActor.Client/bin/
ch4/ReliableActors/ReliableActors/ReliableActor.Client/obj/
ch4/ReliableActors/ReliableActors/ReliableActor.Interfaces/bin/
ch4/ReliableActors/ReliableActors/ReliableActor.Interfaces/obj/
*.txt
ch4/ReliableActors/ReliableActors/ReliableActor/bin/
ch4/ReliableActors/ReliableActors/ReliableActor/obj/
ch4/ReliableActors/ReliableActors/ReliableActors/pkg/
ch4/ReliableService/HandsOnAzureSfReliableService/.vs/
ch4/ReliableService/HandsOnAzureSfReliableService/HandsOnAzureSfReliableService/pkg/
ch4/ReliableService/HandsOnAzureSfReliableService/HandsOnAzureStateful/obj/
ch4/ReliableService/HandsOnAzureSfReliableService/HandsOnAzureStateful/bin/
ch4/ReliableService/HandsOnAzureSfReliableService/HandsOnAzureStateful2/bin/
ch4/ReliableService/HandsOnAzureSfReliableService/HandsOnAzureStateful2/obj/
ch4/ReliableService/HandsOnAzureSfReliableService/HandsOnAzureStateless/obj/
ch4/ReliableService/HandsOnAzureSfReliableService/HandsOnAzureStateless/bin/
ch4/ReliableService/HandsOnAzureSfReliableService/packages/
ch6/HandsOnAzureApp.Web/HandsOnAzureApp.Web/.vs/
ch6/HandsOnAzureApp.Web/HandsOnAzureApp.Web/HandsOnAzureApp.Web/bin/
ch6/HandsOnAzureApp.Web/HandsOnAzureApp.Web/HandsOnAzureApp.Web/obj/
ch6/HandsOnAzureApp.Web/HandsOnAzureApp.Web/packages/
ch6/HandsOnAzureApp/HandsOnAzureApp/bin/
ch6/HandsOnAzureApp/HandsOnAzureApp/obj/
ch7/HandsOnAzure.Function/.vs/
ch6/HandsOnAzureApp/.vs/
ch11/AzureStorage/.vs/
ch11/AzureStorage/BlobStorage/bin/
ch11/AzureStorage/BlobStorage/obj/
ch11/AzureStorage/packages/
ch11/AzureStorage/QueueStorage.Consumer/obj/
ch11/AzureStorage/QueueStorage/bin/
ch11/AzureStorage/QueueStorage/obj/
ch11/AzureStorage/TableStorage/obj/
ch11/AzureStorage/TableStorage/bin/
ch9/HandsOnAzureCosmosDB/HandsOnAzureCosmosDB/bin/
ch9/HandsOnAzureCosmosDB/HandsOnAzureCosmosDB/obj/
ch9/HandsOnAzureCosmosDB/packages/
ch9/HandsOnAzureCosmosDB/.vs/
ch11/AzureStorage/QueueStorage.Consumer/bin/
ch12/HandsOnAzure.EventHub/.vs/
ch12/HandsOnAzure.EventHub/HandsOnAzure.Receiver/bin/
ch12/HandsOnAzure.EventHub/HandsOnAzure.Receiver/obj/
ch12/HandsOnAzure.EventHub/HandsOnAzure.Sender/bin/
ch12/HandsOnAzure.EventHub/HandsOnAzure.Sender/obj/
ch12/HandsOnAzure.EventHub/packages/
ch1/PHP/.vscode/settings.json
ch14/HandsOnAzure.ServiceBus.Reader/bin/
ch14/HandsOnAzure.ServiceBus.Reader/obj/
ch14/HandsOnAzure.ServiceBus/.vs/
ch14/HandsOnAzure.ServiceBus/bin/
ch14/HandsOnAzure.ServiceBus/obj/
ch14/HandsOnAzure.ServiceBus/packages/
ch15/NodeJS/node_modules/
ch20/.vs/
ch20/HandsOnAzureTrafficManager/bin/
ch20/HandsOnAzureTrafficManager/obj/
